<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>
    /* Style.css */
    body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 400px;
  font-size: 36px;
  background: linear-gradient(to right, #ffb347, #ffcc33);
  color: black;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.container1 {
  display: flex;
  flex-direction: column;
  
  
  font-size: 36px;
  background: linear-gradient(to right, #ffb347, #ffcc33);
  color: black;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.container1 a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.container1 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

label {
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

button {
    cursor: pointer;
  padding: 12px 24px;
  background-color: #333;
  color: #ffb347;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
  background-color: #555;
}
.Label{
    cursor: pointer;

}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  animation: fadeIn 1s ease-in-out;
}


</style>
<body>
    
    <% if (locals.fileLink  ){ %>
        <div class="container1">
            Your file has been uploaded.
            <a href="<%= locals.fileLink %>"><h1>Click on the Link to download the File </h1> <%=locals.fileLink %></a>
        </div>
    <% }  else{ %>
       
    <form class="container" action="/upload" method="post" enctype="multipart/form-data">
    <label class="Label" for="file" >Select File</label>
    <input class="Label" type="file" id="file" name="file" required>
    <label for="file" >Password</label>
    <input type="password" id="password" name="password" >
    <button type="submit">Share</button>

 
   </form>
   <% }  %>
</body>
</html>